garden36-backups/*
\#auto_saved_files\#
/freerouting.rules
/exports
~garden36.kicad_pcb.lck
~garden36.kicad_sch.lck
/_autosave-garden36.kicad_sch
/transformit.log
/garden36-backups
/production
/~_autosave-garden36.kicad_pcb.lck